.floating-label-input,
.floating-label-input:focus {
	z-index: -1;
	background-color: transparent;
	border: none;
	border-bottom: solid 1px;
	border-radius: 0;
	box-shadow: none;
}

.floating-label-input:-webkit-autofill,
.floating-label-input:-webkit-autofill:focus {
	box-shadow: 0 0 0 30px #fff inset!important;
	-webkit-text-fill-color: black;
}

.floating-label {
	background-color: #021f53;
}

.floating-eye-pass,
.floating-eye-pass:focus {
	position: absolute;
	right: 0;
	top: 50%;
	box-shadow: none;
	z-index: 100;

	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
/* Gradient Background color */
.gbg-1 {
	background: rgb(123, 122, 135);
	background: linear-gradient(90deg, rgba(123, 122, 135, 1) 0%, rgba(2, 31, 83, 1) 39%, rgba(81, 172, 190, 1) 100%);
}
.btn-outline-custom {
	outline-color: #021f53;
}