.home-banner {
	width: 25.5rem;
	height: 25.5rem;
	max-width: 25.5rem;
	max-height: 25.5rem;
	margin-top: 3.75rem;
	margin-left: 3.75rem;
	overflow: hidden;
	display: flex;
	border: 0.75rem solid white;
	border-radius: 25%;
}

.home-banner>img {
	margin: auto;
	max-width: 100%;
	object-position: center;
}


/* About */
.about {
	max-width: 100%;

}

.title {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	font-weight: bold;
	font-size: 2rem;
	color: #021f53;
}

.video {
	width: 25rem;
	height: 20rem;
	margin-top: 2.5rem;

}

.contact {
	max-width: 100%;
}

.contact-title {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	font-weight: bold;
	font-size: 2rem;
	color: #021f53;
}

.bg-custom {
	background-color: #021f53;
}

.vertical {
	border-left: 6px solid black;
	height: 200px;
	position: absolute;
	left: 50%;
}